<nav class="navbar navbar-expand-lg navbar-light  site-navigation">
  <a class="navbar-brand" href="/">

    <img src="{{ .Site.Params.logo | relURL }}" width="30" height="30">

  </a>

 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

     
      
       {{$menu := (.Site.Data.menu.menu.main)}} 
        {{$len := (len $menu)}} 

        {{ range $index, $element := $menu }} 
          {{ if eq (add $index 1) $len }}
              <button type="button"  class="btn btn-primary "> <a href="{{.url | relURL}}">{{.name}}</a>
</button>

          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .url | relURL }}"
              >{{ .name }}</a
            >
          </li>
          {{ end }} 
        {{ end }}

 

    </ul>
  </div>
</nav>

