




     <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <!-- Card -->
        <div class="card hoverable">

          <!-- Card image -->
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/58.jpg" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a  href="{{ .RelPermalink }}" class="black-text">{{ .Title }}</a>

              <time>
                {{ .Date | dateFormat "January" }}
                {{ .Date | dateFormat "2" }}
            </time>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2"> {{ .Summary }}</p>
						
            <button type="button" class="btn  text-primary p-0 mx-0">  <a  href="{{ .RelPermalink }}" >Read more</a><i class="fa fa-angle-right ml-2"></i></button>
            
          </div>

        </div>
        <!-- Card -->
    </div>
 <!-- Grid column -->




