{{ range .members}}

  


     <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="p-4">
          <div
            class="avatar w-100 white d-flex justify-content-center align-items-center"
          >
           <a href="/team/{{.page}}"> <img
              src="{{ .image | relURL }}"
              class="img-fluid rounded-circle z-depth-1"
            /></a>
          </div>
          <div class="text-center mt-3">
            <h6 class="font-weight-bold pt-2"> {{  .name }}</h6>
            <p class="text-muted">
              <small
                ><i
                  >{{ .designation}}</i
                ></small
              >
            </p>
          </div>
        </div>
      </div>

   {{end}}