{{ define "main"}}

  <h1>{{ .Site.Title }}</h1>


    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-primary">Resources</button>
        <button type="button" class="btn btn-secondary ml-3">Connect with Us</button>
    </div>

        
        <h2>Mir Community Resources</h2>

    <section class="d-flex">

        <div>

            <p>MiR Community Members 130+</p>

        </div>

        <div>

            <p> Shared Stories of MiR Community Members</p>

        </div>

        <div>
            <p> Access job board of those currently hiring/looking for new positions</p>

        </div>

        
        <div>
            <p>Connect with others who are also preparing for the certification training and exams</p>

        </div>



    </section>


{{ end }}